body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: white;
}

.controls button {
  width: 150px;
  height: 60px;
  font-size: 18px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: #00bcd4;
  color: black;
  cursor: pointer;
}

.controls button:hover {
  background: #03a9f4;
}

.adc-box {
  margin: 20px;
  font-size: 22px;
  background: #222;
  padding: 15px;
  border-radius: 10px;
}
